#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    margin: auto; /* Center the grid horizontally */
    max-width: 500px; /* Set the maximum width */
    max-height: 500px; /* Set the maximum height */
    margin: 10px;
    border:10px solid rgb(32, 33, 35);
    border-radius: 2%;
    box-shadow: 0 0px 20px blueviolet;
}

.square {
    border: 1px solid black;
    background-color: rgb(32, 33, 35);
    box-sizing: border-box;
    border-radius: 15%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 53, 65);
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Hide any overflow beyond the viewport */
}

.btn1 {
    color: white;
    margin-top: -50px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10%;
    background-color: rgb(32, 33, 35);
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0 0px 5px blueviolet;
}

.btn2 {
    color: white;
    margin-top: 60px;
    margin-bottom: -50px;
    padding: 20px;
    border-radius: 10%;
    background-color:rgb(32, 33, 35);
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0 0px 5px blueviolet;
}

@media (max-width: 768px) {
    .btn2,
    .btn1 {
        /* Adjust button properties for smartphones */
        font-size:small; /* Example adjustment */
        padding: 10px; /* Example adjustment */
        margin: 5%;
        /* ... other adjustments ... */
    }
}
